<div class="dashboards">
    <div class="dashboard">
        <h2 class="dash-top">Unified Dashboard</h2>
        <h3 class="dash-heading">Customizable dashboard for all platforms</h3>
        <p class="inf-text">
            Use Twitter and Instagram but not Linkdin? you can customize your dashboard to your liking. You can even schedule the same post to individual platforms instead of all platforms
        </p>
        <div class="btn btn-primary">Start Scheduling</div>
    </div>
    <div class="dashboard"></div>
    <div class="dashboard">
        <h2 class="dash-top">Unified Dashboard</h2>
        <h3 class="dash-heading">Customizable dashboard for all platforms</h3>
        <p class="inf-text">
            Use Twitter and Instagram but not Linkdin? you can customize your dashboard to your liking. You can even schedule the same post to individual platforms instead of all platforms
        </p>
        <div class="btn btn-secondary">View Life Demo</div>
    </div>
    <div class="dashboard"></div>
</div>