<div class="hero grid2x2">
    <div class="hero-content">
        <h1 class="hero-heading">Post when your audience is most active.</h1>
        <p class="hero-text">
            With TimeNow, automatically schedule your poss on twitter, LinkedIn, and Instagram to post when your followers are most active.
        </p>
        <div class="hero-btn">
            <div class="btn btn-primary">Start Scheduling</div>
            <div class="btn">View Demo</div>
        </div>

        <h2 class="hero-info">TimesNow does not sell your data</h2>
        <a href="/" class="learn-more">Learn more </a>
    </div>
    <div class="hero-picture">
        <img src="/images/Mockup.png" alt="" class="hero-image" />
    </div>
</div>