<div class="inf">
    <div class="inf-content grid1x2">
        <h2 class="inf-heading">TimeNow is used by the most influential people</h2>
        <div class="inf-images">
            <img src="/images/UA1.png" alt="" class="inf-img" />
            <img src="/images/UA2.png" alt="" class="inf-img" />
            <img src="/images/UA3.png" alt="" class="inf-img" />
            <img src="/images/UA4.png" alt="" class="inf-img" />
            <img src="/images/UA5.png" alt="" class="inf-img" />
            <img src="/images/UA6.png" alt="" class="inf-img" />
            <img src="/images/UA7.png" alt="" class="inf-img" />
            <img src="/images/UA8.png" alt="" class="inf-img" />
        </div>
    </div>
    <div class="inf-words grid1x2">
        <p class="inf-text">
            The most influential people on Facebook, Twitter, and Instagram are using TweetNow to schedule posts when their followers are most active.
        </p>
        <p class="inf-text">
            They generally recieve 23% more engagement than people who do not.
        </p>
    </div>
</div>