<nav class="nav-pricing">
    <div class="nav-content">
        <img src="/images/Logo.svg" alt="" class="nav-logo" />
        <ul class="nav-ul hideul mobile-hide">
            <li class="nav-list">Features</li>
            <li class="nav-list">Pricing</li>
        </ul>
    </div>
    <div class="wrapped">
        <img src="/images/Hamburger Menu.svg" alt="" class="nav-menu-pricing" />
        <div class="btn mobile-hide flex btn-primary">Start Scheduling</div>
    </div>
</nav>
<!-- remove hideit -->
<ul class="nav-ul dropdown hideit">
    <li class="nav-list">Features</li>
    <li class="nav-list">Pricing</li>
</ul>
<!-- pricing text -->
<div class="price-words">
    <h1 class="price-heading">Flexible Plans For Everyone</h1>
    <p class="price-text">
        Our plans are made for everyone. whether you're just starting out on social media , or have been on there for a long time, we have a plan that's right for tou
    </p>
    <div class="billing">
        <h2 class="bill">Billed Monthly</h2>
        <div class="container">
            <div class="circle"></div>
        </div>
        <h2 class="bill">Billed Yearly</h2>
    </div>
</div>