<img src="/images/Logo.svg" alt="" class="logo-mid" />
<div class="wraps">
    <div class="wrap">
        <ul class="unordered">
            <li class="list-item">Product</li>
            <li class="list-item">HomePage</li>
            <li class="list-item">Pricing</li>
            <li class="list-item">Features</li>
        </ul>
        <ul>
            <li class="list-item">Help</li>
            <li class="list-item">HomePage</li>
            <li class="list-item">Pricing</li>
            <li class="list-item">Features</li>
        </ul>
        <ul class="unordered mob-hide">
            <li class="list-item">Company</li>
            <li class="list-item">HomePage</li>
            <li class="list-item">Pricing</li>
            <li class="list-item">Features</li>
        </ul>
    </div>
    <ul class="unordered desk-hide">
        <li class="list-item">Comapany</li>
        <li class="list-item">HomePage</li>
        <li class="list-item">Pricing</li>
        <li class="list-item">Features</li>
    </ul>
    <div class="tweet-header">
        <h2 class="tweet">Try Tweet now</h2>
        <div class="input-group">
            <input type="email" name="" id="email" placeholder="Email Address" />
            <div class="btn btn-primary">Start Scheduling</div>
        </div>
    </div>
</div>